@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Spectral+SC:wght@400;700&family=Spectral:ital,wght@0,400;0,700;1,400&display=swap");

/* @media only screen and (max-width: 512px) {

} */

body {
    font-family: "Spectral", serif;
    font-size: calc(10px + 1.6vh);
    line-height: 1.3;
}

.page {
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(400px + 30vh);
}

.edit {
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(400px + 30vh);
    height: 100vh;
}

p {
    font-size: calc(10px + 1.6vh);
    hyphens: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow-x: auto;
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.05em;
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-family: "Spectral SC", serif;
    font-weight: bold;
}

.title {
    font-size: calc(18px + 1.6vh);
}

h1 { font-size: calc(14px + 1.6vh); }
h2 { font-size: calc(12pt + 1.6vh); }
h3 { font-size: calc(11px + 1.6vh); }
h4 { font-size: calc(10.6px + 1.6vh); }
h5 { font-size: calc(10.25px + 1.6vh); }
h6 { font-size: calc(10.125px + 1.6vh); }

pre {
    overflow: scroll;
    padding: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #ddd;
    border-radius: 2pt;
}

code {
    font-size: 0.9em !important;
    white-space: nowrap;
    background-color: #ddd;
    font-family: "Fira Mono", monospace;
    padding: 2pt;
    border-radius: 2pt;
}

pre code {
    white-space: pre;
    background-color: #ffffff00;
    padding: 0;
    border-radius: none;
}

blockquote {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-style: italic;
    padding-left: 2vh;
    border-left: 2pt solid #ddd;
}

ol,
ul {
    padding-left: 4vh;
}

ul {
    list-style: circle outside none;
}

ol {
    list-style: decimal outside none;
}

hr {
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 0 solid black;
    border-top: 2pt solid #ddd;
}

a {
    letter-spacing: 0.05em;
    font-family: "Spectral SC", serif;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(120deg, #ddd 0%, #ddd 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.125s ease-in-out;
    padding: 2pt;
    border-radius: 2pt;
}

a:after {
    content: " ❃";
    /* font-weight: bold; */
    color: #e00;
}

a:visited:after {
    color: #e88;
}

a:hover {
    background-size: 100% 100%;
}

a:active {
    background-image: linear-gradient(120deg, #e88 0%, #e88 100%);
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: -2vh;
    margin-right: -2vh;
    width: calc(100% + 4vh);
}

table {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

thead {
    font-family: "Spectral SC", serif;
    font-weight: bold;
    letter-spacing: 0.05em;
}

tr {
    border-top: 2pt solid #ddd;
}

thead tr {
    border-top: none;
}

td { padding: 0.8vh; }
th { padding: 0.8vh; }
