/* Traditional color scheme, with a slight secret */
/* :root {
    --bg-fill: white;
    --text-fill: black;
    --em-fill: #ddd;
    --primary: #1544cc;
    --accent: #15aacc;
} */

:root {
    --primary-white: #EFF0FE;
    --primary-light: #B6BBFB;
    --primary-mid:   #5E65F7;
    --primary-dark:  #10298E;
    --primary-black: #020643;

    --neutral-white: #F4F0EF;
    --neutral-light: #D1BBB7;
    --neutral-mid:   #936E68;
    --neutral-dark:  #44312E;
    --neutral-black: #170F0D;

    --accent-white: #FEEDED;
    --accent-light: #FCAAAD;
    --accent-mid:   #EA1733;
    --accent-dark:  #710613;
    --accent-black: #2C0103;

    --keyword-white: #F4EEFE;
    --keyword-light: #D1B2FB;
    --keyword-mid:   #AA5EF7;
    --keyword-dark:  #510D82;
    --keyword-black: #1D0234;

    --literal-white: #BAFEED;
    --literal-light: #2CD6B9;
    --literal-mid:   #188673;
    --literal-dark:  #063D34;
    --literal-black: #011410;

    --snappy: 0.15s ease-out;
    --font-body: "Overpass";
    --font-title: "PT Serif";
    --font-mono: "Overpass Mono";

    --primary: var(--primary-mid);
    --accent:    var(--accent-mid);
    --text-accent: var(--accent-white);

}

:root {
    --bg-fill:   var(--neutral-white);
    --text-fill: var(--neutral-black);
    --em-fill:   var(--neutral-light);

    --keyword: var(--keyword-dark);
    --comment: var(--neutral-mid);
    --literal: var(--literal-dark);
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-fill:   var(--neutral-black);
        --text-fill: var(--neutral-white);
        --em-fill:   var(--neutral-dark);

        --keyword: var(--keyword-light);
        --comment: var(--neutral-mid);
        --literal: var(--literal-light);
    }
}

body {
    background-color: var(--bg-fill);
    color: var(--text-fill);
    font-family: var(--font-body), sans-serif;
    font-size: 16pt;
    line-height: 1.4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 3vh;
    background-color: var(--primary);
    color: var(--text-accent);
    height: calc(100vh - 6vh);
    overflow: auto;
}

#navbar {
    max-width: 512px;
    transition:
        flex var(--snappy),
        flex-basis var(--snappy);
}

.closed { flex-basis: 0; flex-grow: 0; }
.open   { flex-basis: 256px; flex-grow: 1 }

#menu {
    position: absolute;
    padding-right: 3vh;
    padding-bottom: 3vh;
    transition:
        opacity var(--snappy),
        width var(--snappy),
        height var(--snappy);
}

.hidden {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.shown {
    display: block;
    opacity 1;
}

@media only screen and (max-width: 512px) {
    body {
        flex-direction: column;
    }

    nav {
        min-width: 0;
        max-width: none;
        height: auto;
        width: calc(100vw - 6vh);
    }

    .iconlist > li {
        display: inline-block !important;
    }

    #menu {
        position: static;
    }

    .hidden {
        overflow: hidden;
        padding: 0 !important;
        margin: 0;
        height: 0;
    }
}

.content {
    flex-basis: 0;
    flex-grow: 3;
}

.page {
    margin-top: 6vh;
    margin-bottom: 6vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(256px + 50vh);
}

p {
    font-size: 16pt;
    hyphens: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
/*     overflow-x: auto; */
/*     overflow-y: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.05em;
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-family: var(--font-title), serif;
    font-weight: bold;
}

.title {
    font-size: 24pt;
}

h1 { font-size: 20pt; }
h2 { font-size: 18pt; }
h3 { font-size: 17pt; }
h4 { font-size: 16.5pt; }
h5 { font-size: 16.25pt; }
h6 { font-size: 16.125pt; }

pre {
    overflow: scroll;
    padding: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
/*     background-color: var(--em-fill); */
    border: 2pt solid var(--em-fill);
    border-radius: 2pt;
}

code {
    font-size: 0.93em;
    white-space: nowrap;
    background-color: var(--em-fill);
    font-family: var(--font-mono), monospace;
    padding: 2pt;
    border-radius: 2pt;
}

pre code {
    white-space: pre;
    background: none;
    padding: 0;
    border-radius: none;
}

.hljs {
    overflow: inherit !important;
    padding: 0 !important;
    background: none !important;
}

blockquote {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-style: italic;
    padding-left: 2vh;
    border-left: 2pt solid var(--em-fill);
}

ol,
ul {
    padding-left: 4vh;
}

ul {
    list-style: circle outside none;
}

ol {
    list-style: decimal outside none;
}

li {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.navlist,
.iconlist {
    list-style: none;
    padding: 0;
}

.iconlist > li {
    display: block;
    margin: 0;
}

hr {
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 0 solid var(--text-fill);
    border-top: 2pt solid var(--em-fill);
}

a, .icon > * {
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(120deg, var(--accent) 0%, var(--accent) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    transition:
        background-size var(--snappy),
        color var(--snappy);
    padding: 2pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    border-radius: 2pt;
}

.icon {
    background: none;
}

a:hover, .icon > *:hover  {
    color: var(--text-accent);
    background-size: 100% 100%;
}

a:after {
    content: "\00a0❃"; /* Non-breaking space */
    padding-right: 2pt;
    color: var(--accent);
}

.icon:after {
    content: none;
    padding-right: 0;
}

a:visited:after, a:hover:after {
    color: inherit;
}

.material-icons {
    font-size: inherit !important;
    padding: 2pt;
    border-radius: 2pt;
    vertical-align: top;
}

input {
    display: block;
    padding: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 2pt solid var(--em-fill);
    border-radius: 2pt;
    width: calc(100% - 4vh - 4pt);
    max-width: calc(50vh - 4vh - 4pt);
    background-color: var(--bg-fill);
    color: var(--text-fill);
    font-family: var(--font-body), serif;
    font-size: calc(10px + 1.6vh);
    line-height: 1.4;
    overflow-x: scroll;
}

button, input[type="submit"], input[type="reset"] {
    width: 100%;
    max-width: 50vh;
    border: none;
    font: inherit;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    border-radius: 2pt;
    letter-spacing: 0.05em;
    font-family: var(--font-title), serif;
    color: var(--text-accent);
    background-color: var(--primary);
    transition: background-color var(--snappy);
}

button:hover, input[type=submit]:hover, input[type="reset"]:hover {
    background-color: var(--accent);
}

em {
    font-style: italic;
}

strong {
    font-weight: bolder;
}

img {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: -3vh;
    margin-right: -3vh;
    width: calc(100% + 6vh);
}

table {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

thead {
    font-family: var(--font-title), serif;
    font-weight: bold;
    letter-spacing: 0.05em;
}

tr {
    border-top: 2pt solid var(--em-fill);
}

thead tr {
    border-top: none;
}

td { padding: 0.8vh; }
th { padding: 0.8vh; }

textarea {
    padding: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: var(--bg-fill);
    color: var(--text-fill);
    font-family: var(--font-mono), monospace;
    font-size: 15pt;
    line-height: 1.4;
    resize: none;
    overflow: scroll;
    width: calc(100% - 4vh - 4pt);
    border: 2pt solid var(--em-fill);
    border-radius: 2pt;
}

textarea:focus, input:focus {
    border-color: var(--primary);
}

/*
    Why isn't this loaded as a seperate resource? 2 reasons:

    1. It allows me to use css-vars for more consistent coloring
    2. Wasm workers has trouble serving stylesheets, for some reason.
       It's probably my fault, so I'm looking into it.
*/

.hljs {
    color: var(--text-fill);
}

.hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
    color: var(--keyword);
}

.hljs-addition,
.hljs-attribute,
.hljs-bullet,
.hljs-name,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
    color: var(--literal);
}

.hljs-comment,
.hljs-deletion,
.hljs-meta,
.hljs-quote {
    color: var(--comment);
}

.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-title,
.hljs-type {
    font-weight: 700;
}

.hljs-emphasis {
    font-style: italic;
}
